extends layout

block content
  h1= title

  button(onclick='createTables()') Create Tables
  button(onclick='insertDummyData()') Insert Data
  button(onclick='showPlayers()') Show Players 
  button(onclick='showCharacters()') Show Characters 

  #playerTable

  #characterTable  


  script(src="javascripts/databaseInitializer.js")